<!DOCTYPE html>
<!-- <html lang="en"> -->
<html lang="en" oncontextmenu="return false;">
    <head>
        <meta charset="utf-8" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/bundle.css" />
        <!-- <script>
            <%= htmlWebpackPlugin.options.inline %>
        </script> -->
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div class="root"></div>
    </body>
</html>
