<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link
            href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="bundle.css" />
        <script src="https://unpkg.com/material-components-web@13.0.0/dist/material-components-web.min.js"></script>
        <!-- <script>
            <%= htmlWebpackPlugin.options.inline %>
        </script> -->
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div class="root"></div>
    </body>
</html>
